@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Story Script', sans-serif;
}

body {
    background-color: #F2F0E4;
}

.menu-section {
    background-color: #D9BD8B;
    padding: 30px 0;
}

.menu-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    flex-direction: column;
}

.menu-container h1 {
    font-size: 40px;
    margin-bottom: 25px;
    color: #000;
}

.menu-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
    display: flex;
}

.menu-nav a {
    text-decoration: none;
    color: #161C5C;
    font-size: 22px;
    padding: 8px 0;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    color: #161C5C;
    position: absolute;
    left: 20px;
    cursor: pointer;
}

.linha-menu {
    display: flex;
    align-items: center;
    width: 100%;
}

.linha-menu span {
    height: 10px;
    flex: 2;
    border-radius: 4px;
}

.linha-esq {
    background-color: #732257;
}

.linha-dir {
    background-color: #6d76a6;
}

.about-section {
    padding: 50px 20px;
}

.about-container {
    max-width: 900px;
    margin: 0 auto;
    color: #1b1f5e;
}

.about-container h1 {
    background-color: #D9BD8B;
    border-radius: 10px;
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    padding: 15px;
}

.about-content {
    background-color: #D9BD8B;
    border-radius: 10px;
    padding: 20px;
}

.about-text p {
    color: #161C5C;
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.about-image img {
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
}

.news-section {
    padding: 60px 20px;
}

.news-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.news-text {
    width: 55%;
    font-size: 22px;
    line-height: 1.7;
    color: #01285C;
}

.news-text p {
    margin-bottom: 20px;
}

.news-card {
    width: 45%;
    background-color: #D9BD8B;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.news-card img {
    width: 100%;
    max-width: 280px;
}

.news-card h3 {
    font-size: 26px;
    margin: 15px 0;
}

.news-card p {
    font-size: 20px;
    margin-bottom: 15px;
}

.news-card button {
    background-color: #01285C;
    color: #D9BD8B;
    border: none;
    border-radius: 35px;
    padding: 10px 25px;
    font-size: 22px;
    cursor: pointer;
}

/* FOOTER */
.site-footer {
    width: 100%;
    background: #732257;
    color: #D9BD8B;
    padding: 15px 0;
}

.site-footer .content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    padding: 0 40px;
}

.site-footer .logo img {
    height: 80px;
}

.site-footer .e-mail,
.site-footer .socials,
.site-footer .number p {
    font-size: 18px;
}

.site-footer .icons {
    display: flex;
    gap: 15px;
}

.site-footer .icons i {
    font-size: 22px;
    color: #D9BD8B;
}

@media (max-width: 900px) {
    .news-container {
        flex-direction: column;
    }

    .news-text,
    .news-card {
        width: 100%;
    }

    .menu-nav ul {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 600px) {
    .about-text p {
        font-size: 22px;
    }

    .news-card button {
        font-size: 20px;
    }

    .site-footer .content {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .menu-container {
        justify-content: center;
        padding-inline-start: 0 20px;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        top: 10px;
        left: 20px;
        background: none;
        border: none;
        font-size: 30px;
        color: #161C5C;
        cursor: pointer;
        z-index: 1000;
    }

    .menu-nav {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #D9BD8B;
        display: none;
    }

    .menu-nav ul {
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
        align-items: center;
    }

    .menu-nav.active {
        display: block;
    }
}
