@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Story+Script&display=swap%27%27');
 
:root {
    --roxo-claro: #6D76A6;
    --roxo-escuro: #1b1f5e;
    ---bege: #d9bd8b;
    --roxo: #732257;
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Story Script","Open Sans", sans-serif;
}
 
body {
    background-color: var(---bege);
}
 
.navbar {
    display: flex;
    align-items: center;
    padding: 15px 40px;
    gap: 40px;
    position: relative;
}
 
.menu {
    margin-right: auto;
}
 
.menu {
    display: flex;
    gap: 30px;
    list-style: none;
}
 
.menu li a {
    text-decoration: none;
    color: var(--roxo-escuro);
    font-weight: 560;
    font-size: 20px;
}
 
.pesquisar {
    position: relative;
}
 
.pesquisar input {
    width: 180px;
    padding: 8px 38px 8px 12px;
    border-radius: 20px;
    background-color: var(--roxo-escuro);
    border: none;
    outline: none;
    color: var(---bege);
}
 
.pesquisar input::placeholder {
    color: var(---bege);
}
 
.pesquisar i.bi-search {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(---bege);
}
 
.menu-icon {
    display: none;
    font-size: 34px;
    color: var(--roxo-escuro);
    cursor: pointer;
}
 
#menu-toggle {
    display: none;
}
 
.linha-menu {
    display: flex;
    align-items: center;
}
 
.linha-menu span {
    height: 10px;
    flex: 2;
}
 
.linha-esq {
    background-color: var(--roxo);
    border-radius: 4px;
}
 
.linha-dir {
    background-color: var(--roxo-claro);
    border-radius: 4px;
}
 
.logo-menu {
    width: 170px;
}
 
section {
    padding: 30px 20px;
}
 
section h3 {
    background-color: var(--roxo-escuro);
    color: #fff;
    width: 90px;
    text-align: center;
    border-radius: 20px;
    font-size: 1.6rem;
    margin-bottom: 40px;
}
 
.card {
    background-color: var(--roxo-escuro);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
 
.card p {
    width: 60%;
    font-size: 1.4em;
}
 
.card img {
    width: 150px;
}
 
/* FOOTER */
footer {
    background-color: var(--roxo);
    padding: 15px 30px;
}
 
footer .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(---bege);
    gap: 20px;
    font-size: 19px;
}
 
footer img {
    width: 90px;
}
 
footer .icons {
    display: flex;
    gap: 30px;
    font-size: 20px;
}
 
/* RESPONSIVIDADE */
@media (max-width: 768px) {
 
    .menu-icon {
        display: block;
    }
 
    .menu {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #d9bd8d;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        gap: 15px;
        z-index: 1000;
    }
 
    #menu-toggle:checked ~ .menu {
        display: flex;
    }
 
    .pesquisar {
        display: none;
    }
 
    footer .content {
        flex-direction: column;
        text-align: center;
    }
}